.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.rcorners {
	border-radius: 25px;
	border: 2px solid #FFA827;
	padding: 20px;   
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
  }

.modalcorners {
	border: 2px solid #FFA827;
}

.imageAboutUs {
	width: 75%;
	height: 75%;
	margin-bottom: 30px;
}

.imageCobaKreasi {
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
}

.about_us_custom {
	padding-top: 147px;
	padding-bottom: 20px;
	position: relative;
  }

.container_4_steps {
	border-radius: 25px;
	border: 2px solid #ffffff;
	background-color: #ffffff;
	padding: 30px;  
}

.text_datengId_color {
	color:  #FFA827;
}

.footer_datengId_custom {
	padding-top: 140px;
    padding-bottom: 70px;
	background-color: #FFEAB3;
  }

  .mockup_image {
	background-image: url(../../assets/images/feature/mockup.png);
	background-size: 30%;
	background-repeat: no-repeat;
	background-position-x: 15%;
	background-position-y: -10%;
  }

.item_card{
	margin: 5px !important; 
	cursor: pointer; 
	transition: 0.3s;
}

.item_image{
	width: 100%; 
	height: 90px; 
	background-repeat: no-repeat; 
	background-position: center;
}

.item_card_selected{
	background-color: transparent !important;
	border-color: orange !important;
	box-shadow: 0px 0px 5px orange;
	border-width: 3px;
}

.item_card_selected div div h5{
	color: orange;
}

.item_card_disabled{
	opacity: 60%;
}
