<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dateng.id</title>
    <meta name="viewport" content="width=1024">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
    <!-- <meta name="mobile-web-app-capable" content="yes"> -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
    <link rel="stylesheet" href="/assets/style/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style/css/animate.min.css">
    <link rel="stylesheet" href="/assets/style/css/slicknav.css">
    <link rel="stylesheet" href="/assets/style/css/style.css">

    <style>
        .dark-bg {
            background-color: #363636;
        }

        .btn-green {
            background-color: #27AE60;
            width: 130px;
            height: 30px;
            line-height: 25px;
            text-transform: uppercase !important;
        }

        .no-padding {
            padding: 0 !important;
        }
    </style>
    <% preact.headEnd %>
</head>

<body>
    <% preact.bodyEnd %>
    <script src="/assets/style/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/assets/style/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="/assets/style/js/popper.min.js"></script>
    <script src="/assets/style/js/bootstrap.min.js"></script>
    <script src="/assets/style/js/owl.carousel.min.js"></script>
    <script src="/assets/style/js/isotope.pkgd.min.js"></script>
    <script src="/assets/style/js/ajax-form.js"></script>
    <script src="/assets/style/js/waypoints.min.js"></script>
    <script src="/assets/style/js/jquery.counterup.min.js"></script>
    <script src="/assets/style/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/style/js/scrollIt.js"></script>
    <script src="/assets/style/js/jquery.scrollUp.min.js"></script>
    <script src="/assets/style/js/wow.min.js"></script>
    <script src="/assets/style/js/nice-select.min.js"></script>
    <script src="/assets/style/js/jquery.slicknav.min.js"></script>
    <script src="/assets/style/js/plugins.js"></script>

    <script src="/assets/style/js/main.js"></script>
</body>

</html>